@import url("./reset.css");
@import url("./modal.css");

/* cards */
@import url("./card-parents.css");
@import url("./card-timer.css");
@import url("./card-recepcion.css");
@import url("./card-sugerencia.css");
@import url("./btn-flotantes.css");

:root{
    font-size: 15px;
    --fondo-pagina: #e3ffef;
    --card-width: 500px;

    --clr-1: #253923;
    --clr-2: #d0d4c0;
    --time-transition: .9s
}

body, html{
    background: var(--clr-2);
  }
  
  .container{
    overflow: hidden;
    display: grid;
    margin: 0 auto;
    width: var(--card-width);
    max-width: 100%;
  }
  .hidden{
    display: none;
}

.card{
    position: relative;
    background: #fff;
    background: #10101021;
    width: 100%;
    max-width: var(--card-width);
    height: 100%;
    margin: auto;
    transition: transform 0.3s;
}
.card_text{
    position: absolute;
    
}
.card_image img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.card .card_button{
    position: absolute;
    width: 100%;
    height: auto;
    top: -120px;
    left: 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 460px) {
    .card_text.sugerencia .sug_list{
      top: 200px;
    }
  .card .card_button{
    top: -90px;
  }
  .modal .modal_content{
    width: 80%;
  }
}